<div class="content-container">

    <p-card header="Listagem dos items de estoque" subheader="Listagem dos items de estoque cadastrados"
        class="p-shadow-2">
        <ng-template pTemplate="header">
            <header-image [imagePath]="'../../../assets/img/background-list.jpg'"></header-image>
        </ng-template>

        <p-table [value]="inventories" [paginator]="true" [rows]="6" styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Perecível</th>
                    <th>Data de <br> fabricação</th>
                    <th>Date de <br> validade</th>
                    <th>Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td colspan="7">
                        Nenhum registro encontrado
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inventory>
                <tr>
                    <td style="word-break: break-word;">{{inventory.name}}</td>
                    <td class="dont-break">{{inventory.quantity || 0}} {{getQuantitySymbol(inventory.measurementUnit)}}</td>
                    <td class="dont-break">{{inventory.price}}</td>
                    <td>
                        <p-checkbox [(ngModel)]="inventory.isPerishable" [binary]="true" [disabled]="true"></p-checkbox>
                    </td>
                    <td>{{formatDate(inventory.manufacturingDate)}}</td>
                    <td>{{formatDate(inventory.expirationDate)}}</td>
                    <td class="dont-break">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-primary"
                            (click)="editItem(inventory.id)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="confirmDelete(inventory.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div class="p-pb-3 p-pt-5">
            <button pButton pRipple type="button" label="Inserir novo item de inventário" style="float: right;"
                routerLink="/new-inventory" routerLinkActive="active"></button>
        </div>

    </p-card>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<loader [isLoading]="loading"></loader>