.header-image {
    background-color: green; /* fallback */
    background: url('../../../assets/img/background-list.jpg'); /* fallback */
    background: linear-gradient(135deg, #00c89b59 0%, #00958b82 100%), url('../../../assets/img/background-list.jpg');
    height: 113px;
    background-size: cover;
    background-position: center;
}
